Source: ruby-hamlit
Section: ruby
Priority: optional
Maintainer: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Uploaders: Abhijith PA<abhijith@openmailbox.org>
Build-Depends: debhelper (>= 9~),
               gem2deb,
               ruby-temple (>= 0.7.6),
               ruby-thor,
               ruby-tilt,
               ruby-haml
Standards-Version: 3.9.8
Vcs-Git: https://anonscm.debian.org/git/pkg-ruby-extras/ruby-hamlit.git
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-ruby-extras/ruby-hamlit.git
Homepage: https://github.com/k0kubun/hamlit
Testsuite: autopkgtest-pkg-ruby
XS-Ruby-Versions: all

Package: ruby-hamlit
Architecture: any
XB-Ruby-Versions: ${ruby:Versions}
Depends: ruby | ruby-interpreter,
         ruby-temple (>= 0.7.6),
         ruby-thor,
         ruby-tilt,
         ${misc:Depends},
         ${shlibs:Depends}
Description: High Performance Haml Implementation
 Hamlit is another implementation of Haml. With some limitations by 
 design for performance, Hamlit is 8.54x times faster than original haml gem
 , which is an HTML-escaped version of slim-template/slim's one for fairness.
